# Install Library

In [3]:
%pip install numpy
%pip install pandas

Requirement already satisfied: numpy in ./venv/lib/python3.10/site-packages (1.26.1)
Note: you may need to restart the kernel to use updated packages.
Requirement already satisfied: pandas in ./venv/lib/python3.10/site-packages (2.1.2)
Requirement already satisfied: numpy<2,>=1.22.4 in ./venv/lib/python3.10/site-packages (from pandas) (1.26.1)
Requirement already satisfied: python-dateutil>=2.8.2 in ./venv/lib/python3.10/site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in ./venv/lib/python3.10/site-packages (from pandas) (2023.3.post1)
Requirement already satisfied: tzdata>=2022.1 in ./venv/lib/python3.10/site-packages (from pandas) (2023.3)
Requirement already satisfied: six>=1.5 in ./venv/lib/python3.10/site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

# Import Library

In [4]:
import pandas as pd

# Read CSV

In [5]:
reviews = pd.read_csv("data/reviews.csv", encoding='utf-8')
reviews.columns

Index(['id', 'username', 'books_id', 'liked', 'disliked', 'reported',
       'comments', 'rating', 'created_at'],
      dtype='object')

In [6]:
books = pd.read_csv("data/books_db.csv", encoding='utf-8')
books.columns

Index(['id', 'book_title', 'pushlisher', 'author', 'price', 'category',
       'rating', 'images', 'desc', 'publication_date', 'page',
       'product_dimensions', 'rating_count', 'reviews'],
      dtype='object')

In [7]:
users = pd.read_csv("data/users.csv", encoding='utf-8')
user_ids = [i for i in range(1,len(users.values)+1)]
data = {"user_id":user_ids, "username":users['username'].tolist()}
user_rcm = pd.DataFrame(data)
user_rcm

     user_id      username
0          1   Connie51960
1          2     June64378
2          3    Henry54766
3          4    Kathy26657
4          5     Cindy4168
..       ...           ...
595      596      Guy60324
596      597   Judith18457
597      598    Daisy78476
598      599  Douglas23950
599      600   Marlene7018

[600 rows x 2 columns]

# Data

In [8]:
datas = []
for review in reviews.values:
    book = books[books['id'] == review[2]]
    user_id = user_rcm[user_rcm['username'] == review[1]]['user_id'].values[0]
    data = [user_id, 
            review[-2], 
            book['book_title'].values[0], 
            book['author'].values[0], 
            book['pushlisher'].values[0], 
            book['images'].values[0],
            book['desc'].values[0],
            book['category'].values[0]]
    datas.append(data)
df = pd.DataFrame(datas, columns=['user_id', 
                                  'rating', 
                                  'book_title', 
                                  'author', 
                                  'publisher',
                                  'imgs',
                                  'desc', 
                                  'category'])
df

,user_id,rating,book_title,author,publisher,imgs,desc,category
0,550,5,Assistant to the Villain,Hannah Nicole Maehrer,"Entangled Publishing, LLC",{'https://prodimage.images-bn.com/lf?set=key%5...,"This book ticks a great many boxes—humor, horr...","['Comic Fantasy', 'Fantasy Romance', 'Science ..."
1,204,5,Assistant to the Villain,Hannah Nicole Maehrer,"Entangled Publishing, LLC",{'https://prodimage.images-bn.com/lf?set=key%5...,"This book ticks a great many boxes—humor, horr...","['Comic Fantasy', 'Fantasy Romance', 'Science ..."
2,445,5,Assistant to the Villain,Hannah Nicole Maehrer,"Entangled Publishing, LLC",{'https://prodimage.images-bn.com/lf?set=key%5...,"This book ticks a great many boxes—humor, horr...","['Comic Fantasy', 'Fantasy Romance', 'Science ..."
3,478,5,Assistant to the Villain,Hannah Nicole Maehrer,"Entangled Publishing, LLC",{'https://prodimage.images-bn.com/lf?set=key%5...,"This book ticks a great many boxes—humor, horr...","['Comic Fantasy', 'Fantasy Romance', 'Science ..."
4,94,5,Assistant to the Villain,Hannah Nicole Maehrer,"Entangled Publishing, LLC",{'https://prodimage.images-bn.com/lf?set=key%5...,"This book ticks a great many boxes—humor, horr...","['Comic Fantasy', 'Fantasy Romance', 'Science ..."
...,...,...,...,...,...,...,...,...
4104,45,5,The Christmas Quilt,Lenora Worth,Kensington,{'https://prodimage.images-bn.com/lf?set=key%5...,It’s wedding time at Pennsylvania’s historic S...,"['Amish & Mennonites - Fiction', 'Fiction', 'F..."
4105,9,5,The Christmas Quilt,Lenora Worth,Kensington,{'https://prodimage.images-bn.com/lf?set=key%5...,It’s wedding time at Pennsylvania’s historic S...,"['Amish & Mennonites - Fiction', 'Fiction', 'F..."
4106,582,5,Remaining You While Raising Them: The Secret A...,Alli Worthington,Zondervan,{'https://prodimage.images-bn.com/lf?set=key%5...,A guilt-free guide that strips away the myths ...,"['Parenting & Family - Christian Life', 'Paren..."
4107,153,5,Remaining You While Raising Them: The Secret A...,Alli Worthington,Zondervan,{'https://prodimage.images-bn.com/lf?set=key%5...,A guilt-free guide that strips away the myths ...,"['Parenting & Family - Christian Life', 'Paren..."
4108,190,5,Remaining You While Raising Them: The Secret A...,Alli Worthington,Zondervan,{'https://prodimage.images-bn.com/lf?set=key%5...,A guilt-free guide that strips away the myths ...,"['Parenting & Family - Christian Life', 'Paren..."

In [9]:
df.to_csv("data_train/preprocessed_data.csv", sep=',', index=False, encoding='utf-8', index_label=None)