# Install Library

In [27]:
%pip install numpy
%pip install pandas
%pip install bcrypt

Requirement already satisfied: numpy in ./venv/lib/python3.10/site-packages (1.26.1)
Note: you may need to restart the kernel to use updated packages.
Requirement already satisfied: pandas in ./venv/lib/python3.10/site-packages (2.1.2)
Requirement already satisfied: tzdata>=2022.1 in ./venv/lib/python3.10/site-packages (from pandas) (2023.3)
Requirement already satisfied: pytz>=2020.1 in ./venv/lib/python3.10/site-packages (from pandas) (2023.3.post1)
Requirement already satisfied: numpy<2,>=1.22.4 in ./venv/lib/python3.10/site-packages (from pandas) (1.26.1)
Requirement already satisfied: python-dateutil>=2.8.2 in ./venv/lib/python3.10/site-packages (from pandas) (2.8.2)
Requirement already satisfied: six>=1.5 in ./venv/lib/python3.10/site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Note: you may need to restart the kernel to use updated packages.
Requirement already satisfied: bcrypt in ./venv/lib/python3.10/site-packages (4.0.1)
Note: you may need to restart the kernel to use updated packages.

# Import Library

In [28]:
import numpy as np
import pandas as pd
import csv
from datetime import datetime
from random import randint, choice
import bcrypt
import random

# Read CSV

In [29]:
users = pd.read_csv("data/users.csv", encoding='utf-8')

In [30]:
reviews = pd.read_csv("data/reviews_db.csv", encoding='utf-8')

# Data

In [31]:
username = []
for val in reviews.values:
    user = random.choice(users["username"])
    username.append(user)
reviews.insert(1, "username", username, True)
reviews["books_id"] = [re + 1 for re in reviews["books_id"].values]
reviews

,id,username,books_id,liked,disliked,reported,comments,rating,created_at
0,0,Constance82826,1,2,0,False,Such a fun read!,5,2023-09-02
1,1,Christina12394,1,1,0,False,My new favorite book,5,2023-08-27
2,2,Gladys4115,1,4,0,False,Great romcon.. a must read,5,2023-09-01
3,3,Duane22659,1,1,0,False,Rated 4.5 Stars,5,2023-08-29
4,4,Theresa51058,1,1,0,False,I’m Obsessed,5,2023-09-04
...,...,...,...,...,...,...,...,...,...
4104,4104,Marion94656,1975,0,0,False,Back in Shadow Lake,5,2023-06-18
4105,4105,Angela46986,1975,0,0,False,Great addition to story,5,2023-08-21
4106,4106,Florence51452,1981,0,0,False,The only book moms need to read!,5,2023-09-06
4107,4107,Freddie24902,1981,0,0,False,Let Go Of Guilt,5,2023-08-12
4108,4108,Kyle66893,1981,0,0,False,A Field Guide to Emotionally Healthy Motherhood,5,2023-08-11

In [32]:
reviews.to_csv("data/reviews.csv", sep=',', index=False, encoding='utf-8', index_label=None)