# Install Library

In [11]:
%pip install numpy
%pip install pandas
%pip install bcrypt

Requirement already satisfied: numpy in ./.venv/lib/python3.10/site-packages (1.25.2)

[notice] A new release of pip is available: 23.2.1 -> 23.3.1
[notice] To update, run: pip install --upgrade pip
Note: you may need to restart the kernel to use updated packages.
Requirement already satisfied: pandas in ./.venv/lib/python3.10/site-packages (2.0.3)
Requirement already satisfied: python-dateutil>=2.8.2 in ./.venv/lib/python3.10/site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in ./.venv/lib/python3.10/site-packages (from pandas) (2023.3)
Requirement already satisfied: tzdata>=2022.1 in ./.venv/lib/python3.10/site-packages (from pandas) (2023.3)
Requirement already satisfied: numpy>=1.21.0 in ./.venv/lib/python3.10/site-packages (from pandas) (1.25.2)
Requirement already satisfied: six>=1.5 in ./.venv/lib/python3.10/site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)

[notice] A new release of pip is available: 23.2.1 -> 23.3.1
[notice] To update, run: pip install --upgrade pip
Note: you may need to restart the kernel to use updated packages.
Requirement already satisfied: bcrypt in ./.venv/lib/python3.10/site-packages (4.0.1)

[notice] A new release of pip is available: 23.2.1 -> 23.3.1
[notice] To update, run: pip install --upgrade pip
Note: you may need to restart the kernel to use updated packages.

# Import Library

In [12]:
import numpy as np
import pandas as pd
import csv
from datetime import datetime
from random import randint, choice
import bcrypt
import random

# Read CSV

In [13]:
users = pd.read_csv("data/users.csv", encoding='utf-8')

In [14]:
reviews = pd.read_csv("data/reviews_db.csv", encoding='utf-8')

# Data

In [15]:
username = []
for val in reviews.values:
    user = random.choice(users["username"])
    username.append(user)
reviews.insert(1,"username",username, True)
reviews

,id,username,books_id,liked,disliked,reported,comments,rating,created_at
0,0,Glenda14935,0,2,0,False,Such a fun read!,5,2023-09-02
1,1,Phillip55165,0,1,0,False,My new favorite book,5,2023-08-27
2,2,Samuel69131,0,4,0,False,Great romcon.. a must read,5,2023-09-01
3,3,Jo73866,0,1,0,False,Rated 4.5 Stars,5,2023-08-29
4,4,Caroline75685,0,1,0,False,I’m Obsessed,5,2023-09-04
...,...,...,...,...,...,...,...,...,...
4104,4104,Veronica35369,1974,0,0,False,Back in Shadow Lake,5,2023-06-18
4105,4105,Gwendolyn21138,1974,0,0,False,Great addition to story,5,2023-08-21
4106,4106,Hazel93000,1980,0,0,False,The only book moms need to read!,5,2023-09-06
4107,4107,Shelly33876,1980,0,0,False,Let Go Of Guilt,5,2023-08-12
4108,4108,Nina91689,1980,0,0,False,A Field Guide to Emotionally Healthy Motherhood,5,2023-08-11

In [16]:
reviews.to_csv("data/reviews.csv", sep=',', index=False, encoding='utf-8', index_label=None)
modified_desc